:root {
    /* Font settings */
    --font-family: 'Poppins Regular', sans-serif;
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.479);
    --normal-font-size: 1rem;
    --small-font-size: 12px;
    --dark-color: #1b1d21;
    --dark-color-50: #212327;
    --primary-color: #6c5dd3;
    --shadow-color: rgba(0, 0, 0, 0.301);
    --border-radius: 0.6rem;
    --titlebar-title-col: rgba(255, 255, 255, 0.534);


    /* BUTTON COLORS */
    --btn-primary-color: #6c5dd3;
    --btn-primary-color-hover: #5648b3;

    --btn-secondary-color: #38393d;
    --btn-secondary-color-hover: #353333;

    --btn-tertiary-color: #202124;
    --btn-tertiary-text-color: #6c5dd3;

    --btn-only-icon-bg:  #1b1d21;
    /* INPUT COLORS */
    --entry-bg-color: rgb(43, 48, 56);

    /* z index */
    --z-fixed: 100;
}

*,::before, ::after {
    box-sizing: border-box;
}

/* CUSTOM TOPBAR CSS */
.topbar-container {
    position: fixed;
    z-index: 200;
    top:0;
    left: 0;
    height: 2px;
    width: 100vw;
    display: flex;
    background-color: var(--dark-color-50);
}
#menu-bar {
    top: 2px;
    left: 0;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 24px;
    background: var(--dark-color);
    -webkit-app-region: drag;
    z-index: 200;
}
.titlebar-name {
    color: var(--titlebar-title-col);
    letter-spacing: 1px;
    padding-left: 10px;
}
.menubar-btn {
    border-style: none;
    padding: .4rem;
    /* margin: 3px; */
    color: var(--titlebar-title-col);
    background-color: transparent;
    -webkit-app-region: no-drag;
}
.menubar-btn:focus {
    outline: none;
}
.menubar-btn:hover {
    color: var(--text-primary);
    background-color: rgba(255, 255, 255, 0.068);
}
.close {
    padding-right:10px;
    padding-left:10px;
}
.close:hover {
    background-color: rgba(238, 58, 58, 0.835);
}
/* ------------------------------------------------- */

/* SIMPLE UI ELEMENTS LIKE BODY H1 H2 ETC */
body {
    top: 1rem;
    position: relative;
    margin: 0;
    padding: 1rem 0 0 6.75rem;
    font-size: var(--normal-font-size);
    font-family: var(--font-family);
    transition: 200ms ease;
    background-color: var(--dark-color-50);
    color: var(--text-primary);
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0.30rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.newProjectWindowBody {
    background-color: var(--dark-color);
    padding: 0 2rem;
}
/* ---------------------------------------- */

/* ------------ CUSTOM SIDEBAR CSS ---------------------- */
.navbar {
    top: 1rem;
    left: 0;
    width: 92px;
    height: 100vh;
    position: fixed;
    background-color: var(--dark-color);
    transition: width 200ms ease;
    /* padding: 1.5rem 1.5rem; */
    z-index: var(--z-fixed);
    box-shadow: 2px 0px 5px var(--shadow-color);
    border-style: none;
    border-width: 0 1px 0 0;
    border-color: rgba(255, 255, 255, 0.164);
}
.navbar:hover {
    border-style: none;
    width: 13rem;
    box-shadow: 5px 0px 13px var(--shadow-color);
}
.navbar:hover .logo-svg {
    transform: rotate(360deg);
}
.navbar:hover .link-text, .navbar:hover .brand-name {
    opacity: 100%;
}

.navbar-nav {
    /* list-style: none; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content:space-between;
    transition: 200ms ease;
    padding-bottom: 3rem;
}
.navbar-nav:hover {
    overflow-y: scroll;
}
.navbar-nav::-webkit-scrollbar {
    width: 0.25rem;
}
.navbar-nav::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

span {
    display: block;
}

.nav-link {
    display: flex;
    flex-direction: row;
    row-gap: 0.75rem;
    align-items: center;
    color: var(--text-secondary);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: 100ms ease;
    padding: 0.75rem 0.7rem;
    margin: 0 1.5rem 0 1.5rem;
}
.link-text {
    opacity: 0%;
    font-weight: bold;
    margin-left:2rem;
    transition: 200ms ease;
    font-size: var(--small-font-size);
}
.nav-link i {
    width: 0.4rem;
    font-size: 1.15rem;
}


.nav-link:hover {
    color: var(--text-primary);
}

.active {
    color: var(--text-primary);
    background-color: var(--primary-color);
}

.logo {
    left: 1rem;
    right: 1rem;
    display: grid;
    grid-template-columns: max-content max-content;
    font-weight: bold;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.2ch;
    width: 100%;
    color: var(--text-primary);
    padding: 2rem 1.5rem;
}

.logo-svg {
    width: 45px;
    height: 45px;
    margin-right: .4rem;
    transform: rotate(0deg);
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.brand-name {
    opacity: 0%;
    transition: 200ms ease;
}

/* ------------------------------------------------------------ */


/* BUTTON CSS */
.btn {
    border-radius: var(--border-radius);
    border-style: none;
    color: var(--text-primary);
    height: 2.5rem;
    padding: 0 1.5rem;
    font-size: var(--small-font-size);
    font-weight: bold;
    display: inline;
    align-items: center;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: var(--btn-primary-color);
    transition: 200ms ease;
}
.btn-primary:hover {
    background-color: var(--btn-primary-color-hover);
}
.btn-secondary {
    background-color: var(--btn-secondary-color);
    transition: 200ms ease;
}
.btn-secondary:hover {
    background-color: var(--btn-secondary-color-hover);
}
.btn-tertiary {
    background-color: var(--btn-tertiary-color);
    color: var(--btn-tertiary-text-color);
    transition: 200ms ease;
}
.btn-tertiary:hover {
    color: var(--text-primary);
}

.btn-dark {
    color: var(--text-primary);
    background-color: var(--dark-color-50);
}
.btn-dark:hover {
    background-color: var(--dark-color-50);
    box-shadow: 0px 0px 13px var(--primary-color);
}

.btn-large {
    padding: 0.8rem 2rem;
}

.btn-icon {
    padding-right: 0.3rem;
    font-size: 15px;
}

.btn-only-icon {
    padding: 0;
    align-items: center;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    background-color: var(--entry-bg-color);
    transition: 200ms;
    font-size: 15px;
    color: var(--titlebar-title-col);
}
.btn-only-icon:hover {
    color: var(--text-primary);
    box-shadow: 5px 0px 13px var(--shadow-color);
}

.btn-group {
    display: inline-flex;
}

.r-l {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.r-r {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.m {
    border-radius: 0;
}

.suf {
    background-color: var(--dark-color-50);
    height: 3rem;
    padding: 1rem;
    color: grey;
    font-size: 14px;
}

.group {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

/* ------------------------------------- */

/* --------------- INPUT STYLES --------- */

.entry {
    border-style: solid;
    border-color: var(--entry-bg-color);
    background-color: var(--entry-bg-color);
    border-radius: 10px;
    padding: 12px 22px;
    caret-color: var(--text-primary);
    transition: 200ms ease;
    color:var(--text-primary);
    font-family: inherit;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
    resize: none;
    vertical-align: top;
}
.entry:focus {
    border-style: solid;
    border-color: var(--primary-color);
    outline-style: none;
}
.entry::-webkit-scrollbar {
    width: 0.30rem;
}
.entry::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}
.entry-grp {
    border-radius: 10px 0 0 10px;
}
/* -------------------------------------- */

/* ----- CARD ------ */
.card-group {
    display: inline;
    justify-content: space-evenly;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0px 0px 50px var(--shadow-color);
    margin-top:auto;
}

.card .card-body {
    overflow: hidden;
    margin-top: 1rem;
    overflow-y: scroll;
}

.card .card-body::-webkit-scrollbar {
    width: 0.30rem;
}
.card .card-body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.card .card-body .entry{
    display: inline-flex;
    width: 100%;
    margin-bottom: 0.8rem;
}
.card .card-body h6 {
    padding: 0 0.3rem 0.1rem;
    color: grey;
    font-size: 12px;
}

.card .card-footer {
    position:absolute;
    display: inline-flex;
    width: 88%;
    bottom: 0;
    margin-bottom: 1rem;
}

.card hr {
    border: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.322);
}

.project-setting-card {
    height:auto;
    width: 27rem;
    position: fixed;
    left: 1.5rem;
    bottom: 0;
    top: 0;
    margin: 3rem 0 1.5rem;
}
.template-card {
    height:auto;
    width: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 3rem 1.5rem 1.5rem 30rem;
    overflow: hidden;
}
.template-container {
    height: auto;
    display: inline-flex;
    gap: 1rem;
}

