.btn {
    border-radius: $border-radius;
    color: $light-text-color;
    padding: 5px 15px;
    font-size: $small-font-size;
    font-weight: bold;
    display: inline;
    align-items: center;
    font-family: "Poppins";
    cursor: pointer;
    border: 0;
    &:focus {
        outline: none;
    }
}

.btn-primary {
    color: $primary-text-color;
    background-color: $primary-color;
    font-weight: bold;
    transition: $transition;
    font-size: 14px;
    &:hover{
        background-color: $btn-primary-color-hover;
    }
}
.btn-secondary {
    background-color: $btn-secondary-color;
    transition: $transition;
    border: 1px solid $bg-light;
    &:hover {
        background-color: $btn-secondary-color-hover;
    }
}
.btn-tertiary {
    background-color: $btn-tertiary-color;
    color: $btn-tertiary-text-color;
    transition: $transition;
    border: none;
    &:hover {
        color: $text-color;
    }
}
.btn-dark {
    color: $light-dark-color;
    background-color: $dark-bg;
    box-shadow: 3px 3px 3px $dark-shadow-color, -3px -3px 3px $light-shadow-color;
    &:hover {
        color: $light-text-color;
        box-shadow: inset 3px 3px 3px $dark-shadow-color, inset -3px -3px 3px $light-shadow-color;
    }
}

.btn-outline {
    margin-left: 20px;
    padding: 5px 9px;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    background-color: $bg-light;
    transition: $transition;
    font-weight: bold;
    border: 2px solid $primary-color;
    color: $primary-color;
    font: 14px;

    &:hover {
        background-color: $btn-hover-color;
    }
}

.btn-large {
    padding: 10px 10px;
}


.btn-icon {
    padding: 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: $transition;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $primary-color;
    border:0;
    &:hover{
        background-color: $btn-hover-color;
    }

    &.border {
        border: 1px solid $primary-color
    }
}
.btn-icon-secondary{
    color: white;
    &:hover{
        background: rgba(255, 255, 255, 0.212);
    }
}
.btn-icon-tertiary{
    color: $light-dark-color;
    &:hover{
        color: rgb(78, 139, 175);
        background: rgba(153, 214, 255, 0.123);
    }
}

.btn-only-icon {
    padding: 21px 0 21px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    width: 3rem;
    background-color: $dark-bg;
    border-color: #444;
    transition: $transition;
    font-size: 15px;
    color: $light-dark-color;
    box-shadow: none;
    &:hover {
        color: $light-text-color;
    }
}

.btn-group {
    display: inline-flex;
}

.r-l {
    border-radius: $border-radius 0 0 $border-radius;
}
.r-r {
    border-radius: 0 $border-radius $border-radius 0;
}
.m {
    border-radius: 0;
}

.suf {
    background-color: $dark-bg;
    height: 2.7rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-dark-color;
    font-size: 13px;
    box-shadow: none;
    border-style: solid;
    border-color: #444;
    border-width: 1px;
}

.group {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
#newProjectBtn {
    width: 8rem;
    cursor: pointer;
}
.svg-btn-icon{
    width: 17px;
    height: 17px;
    align-self: center;
    transform: translateY(2px);
}