.card-group {
    display: inline;
    justify-content: space-evenly;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1.5rem;
    background-color: $dark-bg;
    margin-top:auto;
    .card-body {
        overflow: hidden;
        margin-top: 1rem;
        overflow-y: scroll;

        .label {
            padding-left: 1rem;
        }

        h6 {
            padding: 0 0.3rem 0.1rem;
            color: grey;
            font-size: 12px;
        }

        @include webkit();
    }
    .card-footer {
        position:absolute;
        display: inline-flex;
        width: 88%;
        bottom: 0;
        margin-bottom: 1rem;
    }
    hr {
        border: 0;
        border-top: 1px solid rgba(128, 128, 128, 0.322);
    }
}


.project-setting-card {
    height:auto;
    width: 27rem;
    position: fixed;
    left: 3rem;
    bottom: 0;
    top: 0;
    margin: 4rem 0 3rem;
    box-shadow: none;
    border: 1px solid $dark-shadow-color;
    .card-header{
        justify-content: space-between;
        display: flex;
    }   
   
}
.template-card {
    height:auto;
    width: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 4rem 2rem 3rem 32rem;
    box-shadow: none;
    border: 1px solid $dark-shadow-color;
    z-index: 10;
}
.cards {
    height: auto;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(100px, 1fr) );
    grid-gap: 1.3rem;
    padding: 1rem;
    overflow-x: scroll;
    @include webkit();
}

.template-card-item {
    color: $light-text-color;
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
    grid-column-end: span 2;
    background-color: $dark-bg;
    border-radius: 10px;
    transition: $transition;
    box-shadow: 3px 3px 6px $dark-shadow-color, -3px -3px 6px $light-shadow-color;
    padding: 1rem;
    height: 70px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        box-shadow: inset 3px 3px 6px $dark-shadow-color, inset -3px -3px 6px $light-shadow-color;
    }
    .card-header {
        display: flex;
        align-self: center;
    }
}
.card-active {
    color: $primary-text-color;
    background-color: $primary-color;
    box-shadow: inset 6px 6px 10px $dark-shadow-color, inset -6px -6px 10px $light-shadow-color;
    &:hover {
        background-color: $primary-color;
        box-shadow: inset 6px 6px 10px $dark-shadow-color, inset -6px -6px 10px $light-shadow-color;
    }
}