input,
textarea {
    border: none;
    outline: none;
    background: none;
    color: $light-text-color;
    transition: $transition;
    font-family: inherit;
    font-weight: bold;
    resize: none;
    width: 100%;
    vertical-align: top;

    &::selection {
        background: rgb(27, 27, 27);
    }

    @include webkit();
}

.field {
    padding: 12px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: inset 3px 3px 5px $dark-shadow-color, inset -3px -3px 5px $light-shadow-color;
}

.editText {
    width: 100%;
    height: auto;
}

.entry-grp {
    padding: 12px 22px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 3px 3px 5px $dark-shadow-color, inset -3px -3px 5px $light-shadow-color;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(41, 41, 41, 0.609);
}

#container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 1001;

    .field-value {
        padding: 5px;
        display: flex;
        justify-content: center;
        font-size: 13px;
        background-color: $bg-light-hover;
        border-radius: 7px;
        // box-shadow: inset 3px 3px 3px $dark-shadow-color, inset -3px -3px 3px $light-shadow-color;
        // border: 1px solid rgb(243, 243, 243);
    }
}

#blender-selector {
    z-index: 1000;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    max-width: 400px;
    padding: 15px;
    height: fit-content;
    max-height: 300px;
    overflow: auto;
    border-radius: 10px;
    background-color: $bg-light-hover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    h3 {
        text-align: center;
    }
    .option{
        font-size: small;
        width: 250px;
        overflow: hidden;
        padding: 10px;
        border-radius: 6px;
        transition: $transition;
        background-color: rgb(80, 80, 80);
        cursor: pointer;
        border: 1px solid rgb(80, 80, 80);
        &:hover{
            border-color: $primary-color;
            color: $primary-color;
            background-color: rgb(49, 49, 49);
        }
    }
    @include webkit;
}