input, textarea {
    border: none;
    outline: none;
    background: none;
    color: $light-text-color;
    padding: 12px 22px;
    transition: 200ms ease;
    font-family: inherit;
    font-weight: bold;
    resize: none;
    width: 100%;
    vertical-align: top;
    &::-webkit-scrollbar {
        width: 0.30rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
    }
}
.field {
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: inset 3px 3px 5px $dark-shadow-color, inset -3px -3px 5px $light-shadow-color;
}
.editText {
    width: 100%;
    height: auto;
}
.entry-grp {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 3px 3px 5px $dark-shadow-color, inset -3px -3px 5px $light-shadow-color;
}