.project-list-container {
    width: 23rem;
    height: 450px;
    user-select: none;
    padding: unset;
    padding-left: 5px;
    overflow: hidden;
    background-color: $bg-light;
    .card-header  {
        padding: 6px 6px;
        border-bottom: 1px solid $card-border-color;
        h4 {
            color: white;
            width: fit-content;
            padding: 5px 10px;
            border-radius: $border-radius;
            font-size: 19px;
        }
    }
    .card-body {
        margin: 0;
        border:none;
        overflow: auto;
        height: fit-content;
    }
    .show-more-btn{
        display: flex;
        align-items: center;
        height: 47px;
        cursor: pointer;
        color: $primary-color;
        padding-left: 10px;
        font-size: 14px;
        &:hover{
            background-color: $bg-light-hover;
        }
    }
}

p-c {
    cursor: pointer;
    
}

.pc{
    overflow: hidden;
    transition: $transition;
    padding: 15px;
    border-bottom: 1px solid $card-border-color;
    background-color: $bg-light;
    transition: $transition;
    // box-shadow: 3px 3px 6px #cbced1, -3px -3px 6px #ffffff;
    &:hover {
        background-color: $bg-light-hover;
        .name-label {
            transition: $transition;
            font-weight: bold;
            color: $primary-color;
        }
    }
}

.name-label {
    font-weight: bolder;
    color: white;
    font-size: 14px;
}
.time-label {
    font-size: 12px;
    color: $light-dark-color;
    font-weight: bold;
}