.tabbar {
    position: fixed;
    top: 1.7rem;
    width: 100%;
    max-width: 91vw;
    // padding: 0px 5px;
    background-color: $dark-bg;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 13px;
    overflow: hidden;
    user-select: none;
    transition: $transition;
    z-index: 1;
    white-space: nowrap;
    border-bottom: 2px solid $border-color;
    .tabbar-contents {
        display: flex;
        justify-content: left;
        align-items: center;
        overflow-x: auto;
        height: 100%;
        // margin-top: 0.3rem;
        .tabbar-main {
            border-bottom: 2px solid transparent;
            // border-radius: 20px;
            padding: 7px 10px;
            color: $light-text-color;
            cursor: pointer;
            transition: $transition;
            text-decoration: none;

            &:hover {
                background-color: $btn-hover-color;
                color: $primary-color;}

            &.tab-active {
                border-bottom: 3px solid $primary-color;
                color: $primary-color;
                font-weight: bold;
                &:hover {
                    color: $primary-color;
                }
            }
        }

        @include webkit();
    }

    @include webkit();
}



.tabbar-item {
    border-bottom: 2px solid transparent;
    // border-radius: 20px;
    padding: 7px 10px;
    cursor: pointer;
    transition: $transition;
    width: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    // border-bottom: 2px solid $border-color;
    .name {
        color: $light-text-color;
        text-decoration: none;
    }

    i {
        color: $light-text-color;
        font-size: 14px;
        display: inline;
        transition: 200ms ease;
        padding-left: 5px;
        &:hover {
            color: $primary-color;
        }
    }

    &:hover {
        background-color: $btn-hover-color;
        .name {
            color: $primary-color;
        }

    }

}
.tab-active {
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
    .name {
        color: $primary-color;
        font-weight: bold;
        text-decoration: none;
    }
    &:hover {
        .name {
            color: $primary-color
        }
    }
    // box-shadow: inset 3px 3px 3px $dark-shadow-color, inset -3px -3px 3px $light-shadow-color;
}