.topbar-container {
    position: fixed;
    z-index: 2000;
    top:0;
    left: 0;
    height: 2px;
    width: 100vw;
    display: flex;
    background-color: $dark-bg;
}

#menu-bar {
    top: 2px;
    left: 0;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 27px;
    background: $dark-bg;
    -webkit-app-region: drag;
    z-index: 2000;
}
.titlebar-name {
    color: $light-dark-color;
    letter-spacing: 1px;
    padding-left: 10px;
}
.menubar-btn {
    border-style: none;
    /* margin: 3px; */
    color: #777;
    background-color: transparent;
    -webkit-app-region: no-drag;

    &:focus {
        outline: none;
    }
    &:hover {
        color: $light-text-color;
        background-color: rgba(255, 255, 255, 0.068);
    }
}
.close {
    margin-top: 5px;
    margin-right: 5px;
    &:hover {
        color: #ecf0f3;
        background-color: rgba(238, 58, 58, 0.835);
    }
}

