/* Remove default bullets */
ul {
    list-style-type: none;
    padding: unset;
    text-overflow: ellipsis;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */

.caret::before {
    content: "\276F";
    margin-right: 10px;
    color: $light-text-color;
    display: inline-block;
}
.TreeView span{
    display: flex;
    align-items: center;
    // justify-content: center;
    &.caret{
        text-align: center;
        margin: unset;
    }
}
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}
.tree{
    width: 300px;
    padding: 10px;
    background-color: $bg-light;
    margin: 10px 10px 10px 20px;
    border-radius: 10px;
    height: fit-content;
    user-select: none;
    transition: $transition;
    position: relative;
    display: inline-block;
    &:hover{
        background-color: $bg-light-hover;
    }
    #tree-tools-container{
        display: none;
        width: fit-content;
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0 5px;
        border-radius: 7px;
        background-color: $dark-bg;
        button{
            outline: none;
            background:none;
            color: $light-text-color;
            font-size: 15px;
            box-shadow: none;
            border-style: none;
            cursor: pointer;
            padding: 5px;
            &:hover{
                color: $primary-color;
                background-color: $bg-light-hover;
            }
        }
    }
}
.TreeView{
    @include webkit();
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    transition: $transition;
    height: fit-content;
    padding-left: 0.5rem;
    padding-bottom: 10px;
    font-size: 15px;
    li {
        cursor: pointer;
        transition: $transition;
        &:hover{
            color: $primary-light-color;
        }
        
        i{
            padding-right: 6px;
        }
        &.active-item{
            color: $primary-color;
            &:hover{
                color: $primary-light-color;
            }
        }
        span{
            &.active-item{
                color: $primary-light-color;
                &:hover{
                    color: $primary-light-color;
                }
            }
            color: $light-text-color;
            i{
                padding-right: 6px;
            }
            &:hover{
                color: $primary-light-color;
            }
            text-overflow: ellipsis;
        }
    }
}

ul .nested {
    border-left: 1px solid grey;
    display: none;
    padding-left: 20px;
    background-color: transparent;
    &.active {
        border-left: 1px solid grey;
        box-shadow: none;
        display: block;
        color: $light-text-color;
    }
}
