#photoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0.75rem;
    color: $light-dark-color;
    text-decoration: none;
    border-radius: $border-radius;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    color: $light-text-color;
    border-radius: $border-radius;
    padding: 5px 0;
    cursor: pointer;
    background-color: $dark-bg;
    transition: $transition;
    max-height: 50px;
    &:hover{
        background-color: $btn-hover-color;
        color: $primary-color;
    }
    #actionContainer{
        opacity: 0%;
        transition: $transition; 
    }
    img {
        width: 50px;
        height: 50px;
    }
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 45px;
        margin-left: 5px;
    }
    span{
        background-color: transparent;
        color: $primary-color;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        font-weight: bold;
        font-size: 15px; 
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}